.maincontent {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    padding: 16px;
}

.logocenter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
    text-align: center;
}

.headerbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-content: space-evenly;
    width: auto;
}

.productimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 12px;
    padding: 12px;
}

.buttonrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}